.first_icon i{
	background-color: #efe7e6;
	margin-left: 5px;
	border-radius: 50px;
	padding: 3px;
}
.first_icon i:hover{
	background-color: orangered;
	cursor: pointer;
}
.nav_all{
	background-color: orangered;
}	
.logo_glo img{
	opacity: 0;
}
.new_color{
	background-color: #E9DBC8;
	/* background-color: red; */
	/* position:sticky; */
	/* z-index: 9999; */
	/* top: 10px; */
}
.navbar-brand{
	display: none;
}
.logo_gloxy img{
	position: absolute;
	top: 0px;
	left: 100px;
	z-index: 999;
}
.nav-item{
	margin-left: 20px;
	padding-bottom: 2px;
}
.nav-item:hover{
	background-color: orangered;
	padding: 0px;
}
.curly{
	background-image: url("https://th.bing.com/th/id/R.d0f449d995e1412d74e583c7cc19b58a?rik=HFYWY94ANfHn4w&riu=http%3a%2f%2fhdqwalls.com%2fwallpapers%2faparnaa-bajpai.jpg&ehk=CZxT%2fplawUI0awpLCKxMpk02NFyPMnHcnCSv2TmVddo%3d&risl=&pid=ImgRaw&r=0");
	height: 42rem;
	width: 100%;
	background-size: cover;
}
.conataint{
	margin-left: 200px;
	padding-top: 150px;
}
.conataint p{
	font-size: 17px;
	margin-top: 10px;
	font-weight: bold;
}
.conataint h1{
	font-size: 55px;
}
.conataint button{
	height: 50px;
	width: 170px;
	background-color: orangered;
	color: #efe7e6;
	border: none;
	border-radius: 5px;
}
.container_div{
	border: 1px solid black;
	border-radius: 10px;
}
#icon_size{
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
}
.three_div{
	margin-top: -150px;
}
.container_div:hover{
	background-color: orangered;
	color:white;
	border: none;
	cursor: pointer;
}
.container_div{
	background-color:white;
}
.services h1:first-child{
    font-family:'Monoton', cursive;
    color: black;
    font-size: 100px;
    opacity: 0.1;
    position: relative;
    top: 75px;
    text-align: center;
    z-index: -2;
}
.services h3{
	margin-top: -10px;
	font-size: 45px;
}
.services pre{
	display: none;
}
.bulb{
	font-size: 50px;
}
#sticky{
	padding-left: 500px;
	position:sticky;
	top: 0px;
	overflow-x: hidden;
}
#doteed{
	height: 500px;
	width: 100%;
	background-image: url("dotted.jpg");
}
/* #hover{
	height: 410px;
	width: 350px;
	background-color: #FC6026;
	margin-right: 50px;
	margin-bottom: 100px;
	/* display: none; */
	/* opacity: 0; */
	/* transition: all 0.5s; */

#hover:hover{
	opacity: 1;
}
.section_hover{
position:absolute;
top: 2870px;
/* left: 90px; */
margin-left: 190px;
}
.details{
	margin-top: 150px;
	text-align: center;
}
#hover:hover i{

	top: 0%;
	font-size: 30px;
	transform: rotate(-45deg);
	border-radius: 50px;
	background-color: white;
	padding: 10px;
	transition-duration: 0.5s;
}
#hover i{
	position: relative;
	top: 20%;
	left: 0%;
	/* transition: all 2s; */
	text-align: center;
	margin-left: 140px;
	position: relative;
}
#tokyo{
	padding-right: 150px; padding: 150px;
}
.user_hover{
	background-color: rgba(0, 0, 0, 0.7);
	height: 200px;
	width: 350px;
	/* margin-left: 5%; */
}
.user_hover_main{
	/* position: absolute; */
	/* top: 5610px; */
	position: relative;
	left: -11%;
	margin-top: -320px;
	/* opacity: 0; */
}
.user_hover span{
	background-color: white;
	color: orangered;
	padding:7px 10px;
	margin-left: 10px;
	border-radius: 50px;
}
.user_hover{
	opacity: 0;
	margin-top: -50px;
	transition: all 0.5s;
}
.user_hover:hover{
	opacity: 1;
	margin-top: 0px;
}
#table_res{
	background-image: url("https://www.iwillteachyoutoberich.com/wp-content/uploads/2018/12/9-high-earning-entrepreneurs-sha-1024x536.jpg");
	height: 65vh;
	width: 100vw;
}
.orangecolor{
	background-color: rgba(253, 93, 30, 0.8);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
}
.orangecolor span{
	font-size: 60px;
	position: relative;
	top: 100px;
	background-color: white;
	color: orangered;
	/* padding: 0px 15px; */
	padding-left: 17px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: center;
	border-radius: 50px;
	box-shadow:-1px 0px 0px 10px rgb(255, 255, 255,0.6),-1px 0px 0px 20px rgb(255, 255, 255,0.3),-1px 0px 0px 25px rgb(255, 255, 255,0.1),-1px 0px 0px 25px rgb(255, 255, 255,0.1);
}
.orangecolor span:hover{
	box-shadow: none;
}
.subsription{
	height: 40px;
	width: 140px;
	background-color: orangered;
	color: white;
	border: none;
	border-radius: 30px;
}
.subsription1{
	height: 40px;
	width: 140px;
	background-color:#F3F3F3;
	color: orangered;
	border: none;
	border-radius: 30px;
}
.subsription1:hover{
	background-color: orangered;
	color: white;
}
#card_heading{
	background-color:#F3F3F3 ;
	border: none;
	border-radius: 0px;
}
#first_card{
	width: 400px;
	/* margin-left: 100px; */
	box-shadow: 0px 0px 15px 0px rgb(243, 232, 232);
	border: 1px solid rgb(211, 207, 207);
	margin-bottom: 50px;
	text-align: center;
	margin-left: 50px;
	margin-top: 50px;
}
#purchase_btn{
	height: 50px;
	width: 180px;
	border: none;
	background-color: white;
	color: orangered;
	border: 1px solid orangered;
	border-radius: 5px;
}
#purchase_btn:hover{
	background-color: orangered;
	color: white;
}

#second_card{
	width: 400px;
	/* margin-left: 100px; */
	box-shadow: 0px 0px 15px 0px rgb(243, 232, 232);
	border-bottom: 1px solid rgb(211, 207, 207);
	margin-bottom: 50px;
	text-align: center;
	height: 600px;
	margin-top: 40px;
	margin-left: 2px;
}
#third_card{
	width: 400px;
	/* margin-left: 100px; */
	box-shadow: 0px 0px 5px 0px rgb(243, 232, 232);
	border: 1px solid rgb(211, 207, 207);
	margin-bottom: 50px;
	text-align: center;
	margin-top: 50px;
}	
#card_heading1{
	background-color:#FE6229 ;
	border: none;
	border-radius: 0px;
}
#one_more{
	height: 450px;
	width: 90%;
	background-color: #FE6229;
}
#next_arrow{
	background-color: #f49775;
	margin-left: 40%;
	padding: 14px 20px;
	border-radius: 50px;
	position: relative;
	top: 50px;	
	color: white;
	transition: all 0.3s;
}
#next_arrow:hover{
	box-shadow: 0px 0px 1px 10px orangered,0px 0px 1px 20px white;
	background-color: white;
	color: orangered;
}
#itemss h3{
	margin-bottom: 30px;
	background-color: #F3F3F3;
	padding: 8px 0px;
}
#black_hover h3:hover{
	color: orangered;
	cursor: pointer;
}
#black_hover button:hover{
	background-color: black;
	color: white;
}
#address{
	/* display: flex; */
}
#location_outline{
	color: orangered;
	width: 71px;
	padding-left: 15px;
	padding-top: 7px;
	height: 70px;
	border: 1px solid gray;
	font-size: 40px;
	border-radius: 50px;
	margin-right: 20px;
	margin-top: -10px;
}
#h3_add{
	float: left;
}
#location_outline{
	float: left;
}
#location_outline:hover{
	color: white;
	background-color: orangered;
}
.input_tags{
	width: 40%;
	margin-left: 20px;
	height: 50px;
	background-color: #F1F1F1;
	border: none;
	padding-left: 20px;
	margin-bottom: 30px;

}
.text_area{
	width: 83%;
	margin-left: 20px;
	background-color: #F1F1F1;
	border: none;
	padding-left: 20px;
}
.submit_button{
	background-color: orangered;
	color: white;
	border: none;
	width: 200px;
	height: 50px;
	margin-left: 270px;
	margin-top: 30px;
	border-radius: 5px;
	font-size: 20px;
}
.copyright{
	height: 100px;
	width: 100%;
	background-color: #FE5619;
}
.logos_last i{
	font-size: 20px;
	margin-left: 5px;
	background-color: #49372F;
	padding: 5px;
	border-radius: 50px;
}
.logos_last i:hover{
	background-color: white;
	color: #49372F;

}
#roww{
	height: 80px;
}


